@import "../../Variables.scss";

.education {
    display: flex;
    flex-direction: column;
    height: 240px;

    align-items: center;
    justify-content: center;

    border: 5px solid $Taupe;

    @media screen and (min-width: 768px) and (max-width: 1023px){
        height: 25vh;
        width: 30vw;
    }

    .educationDetails {
        text-align: center;
        padding: 15px;
        padding-top: 25px;
        bottom: 0px;

        h2 {
            @include charterLight;
            @include NormalFontSizes;

            letter-spacing: 2px;
            margin: 0;
            margin-bottom: 10px;
            color: $Blackish;
        }
        h3 {
            @include charterLight;
            @include SmallFontSizes;

            letter-spacing: 2px;
            margin: 0;
            margin-bottom: 10px;
            color: $Blackish;
        }
        h4 {
            @include charterLight;
            @include SmallFontSizes;

            letter-spacing: 5px;
            margin: 0;
            color: $Blackish;
        }
    }
    .educationPic {
        padding-top: 20px;
        img {
            max-width: 18vw;
            height: auto;
            max-height: 10vh;
        }
        #alt-pic-size {
            max-height: 12vh;
            max-width: 20vw;
            height: auto;
        }
    }

    .alt-size{
        padding-top: 15px;
    }
    
}
