@import '../../Variables.scss';

.homeProjects {
    background-color: $Whiteish;
}

.collegeProjectsContainer {
    height: 80vh;
    background-color: $Taupe;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    @media screen and (min-width: 768px) and (max-width: 1023px){
        height: 60vh;
    }
    @media screen and (max-width: 767px){
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90vh;
    }

    h1 {
        @include montserratRegular;
        @include SubHeaderFontSizes;
        
        grid-row: 2/3;
        grid-column: 5/9;
        margin: 0;
        letter-spacing: 3px;
        text-align: center;
        justify-self: center;
        @media screen and (max-width: 767px){
            padding: 20px;
        }
    }
    .GC {
        grid-row: 4/12;
        grid-column: 3/6;
        @media screen and (min-width: 768px) and (max-width: 1024px){
            grid-column: 2/6;
        }
    }
    .FYP{
        grid-row: 4/12;
        grid-column: 8/11;

        justify-self: flex-end;
        @media screen and (min-width: 768px) and (max-width: 1024px){
            grid-column: 8/12;
        }
    }
}