@import '../../Variables.scss';

.collegeProject{
    display: flex;
    flex-direction: column;
    border: 5px solid $Whiteish;
    padding: 20px;
    height: 300px;
    width: 330px;

    @media screen and (min-width: 768px) and (max-width: 1023px){
        height: 35vh;
        width: 30vw;
    }
    @media screen and (max-width: 767px){
        width: 70vw;
        height: 30vh;
        margin: 10px;
    }

    h2{
        @include montserratRegular;
        @include TitleFontSizes;

        justify-self: center;
        align-self: center;
        margin: 0;
        margin-bottom: 20px;
        letter-spacing: 3px;
    }
    p {
        @include charterLight;
        @include NormalFontSizes;

        justify-self: center;
        text-align: left;
        line-height: 25px;
        margin: 0;
        padding: 10px;
    }
}