@import "../../Variables.scss";

.workHeaderContainer {
    @include AltHeaderHeight;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    margin-top: 10vh;

    background-color: $Whiteish;

    @media screen and (max-width: 767px){
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titleWork {
        grid-area: 5/3/6/7;
        justify-self: center;

        @media screen and (max-width: 767px){
            background-color: $Pink;
            padding: 10px;
        }
        h1{
            @include montserratRegular;
            @include headerFontSizes;
            color: $Blackish;
            letter-spacing: 3px;
        }
    }
    .image1 {
        grid-area: 3/7/9/10;
        z-index: 1;
        @media screen and (max-width: 767px){
            display: none;
        }

        img {
            max-height: 50vh;
            width: auto;
            max-width: 40vw;
        }
    }
    .image2 {
        grid-area: 8/5/11/8;
        z-index: 1;
        @media screen and (max-width: 1023px){
            display: none;
        }
        img {
            max-height: 30vh;
            width: auto;
            max-width: 40vw;
        }
    }
    .workHeader-BG {
        grid-area: 6/6/11/9;
        background-color: $Glamour;
        z-index: 0;
        @media screen and (max-width: 1023px){
            display: none;
        }
    }

}