@import "../../Variables.scss";

.EducationContainer {
    display: grid;
    grid-template-columns: repeat(24, 0.5fr);
    grid-template-rows: repeat(26, 0.5fr);
    height: 100vh;

    .tud {
        grid-area: 3/6/12/12;
        background-color: $Pale;
    }
    .hda {
        grid-area: 5/14/14/20;
        background-color: $Glamour;
    }
    .loreto {
        grid-area: 15/5/24/11;
        background-color: $Pink;
    }
    .cct {
        grid-area: 17/13/26/19;
        background-color: $Pale;
    }

    .mauve-bg {
        background-color: $Mauve;
        grid-area: 8/8/18/17;
        z-index: -2;
    }

    .glamour-bg {
        background-color: $Glamour;
        grid-area: 16/9/25/15;
        z-index: -1;
    }

}