@import "../../Variables.scss";

.roleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    max-width: 35vw;
    border: 5px solid $Taupe;

    @media screen and (min-width: 768px) and (max-width: 1023px){
        height: 40vh;
    }

    .roleDetails {
        display: flex;
        flex-direction: column;

        #role {
            @include montserratRegular;
            @include TitleFontSizes;
            
            color: $Blackish;
            letter-spacing: 2px;
            margin: 0;
            align-self: center;
        }
        #company {
            @include charterLight;
            @include SubTitleFontSizes;
            
            color: $Blackish;
            letter-spacing: 1px;
            margin: 0;
            align-self: center;
            padding: 10px;
            text-align: center;
        }
        p {
            @include charterLight;
            @include NormalFontSizes;
            
            color: $Blackish;
            margin: 0;
            padding: 20px;
        }
    }
    .companyLogo {
        padding: 30px;

        img {
            max-height: 15vh;
            width: auto;
            max-width: 30vw;
            justify-self: center;
            align-self: center;
            grid-column: 9/10;
            grid-row: 3/5;
        }
    }
}



