@import "../../Variables.scss";

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 10vh;
    justify-content: space-between;
    top: 0;
    overflow: hidden;
    z-index: 1;
    background-color: $Grayish;
    box-shadow: 3px 0px 8px $Grayish;

    .nav-items {
        display: flex;

        .nav-bar-experience, .nav-bar-projects {
            @include montserratRegular;
            
            align-self: center;
            font-size: 24px;
            padding-right: 10px;
            padding-left: 10px;
        }
        .nav-bar-home {
            @include winsome;

            padding-left: 20px;
            padding-right: 30px;
        }
        .active {
            color: white;
        }
        
    }

    .img-links {
        align-self: center;

        img {
            max-width: 40px;
            padding: 10px;
        }

    }
}