@import '../../Variables.scss';

.projectHeaderContainer {
    margin-top: 10vh;
    height: 90vh;

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);

    background-color: $Whiteish;
    .titleProject{
        grid-row: 4/6;
        grid-column: 7/10;

        justify-self: center;
        align-self: end;
        z-index: 1;
        h1 {
            @include montserratRegular;
            @include headerFontSizes;

            margin: 0;
            letter-spacing: 5px;
            color: $Blackish;
        }
    }
    .image1Project {
        grid-row: 3/9;
        grid-column: 3/7;
        z-index: 1;
        img {
            width: 100%;
            height: auto;
        }
    }
    .image2Project{
        grid-row: 6/10;
        grid-column: 8/10;
        z-index: 1;
        img {
            width: auto;
            height: 100%;
            object-fit: scale-down;
        }
    }
    .projectHeader-BG{
        background-color: $Pink;
        grid-column: 4/11;
        grid-row: 4/10;
        z-index: 0;
    }
}