@import '../../Variables.scss';


.projectHeaderContainer {
    @include AltHeaderHeight;

    margin-top: 10vh;

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);

    background-color: $Whiteish;

    .titleProject{
        grid-row: 4/6;
        grid-column: 7/10;

        justify-self: center;
        align-self: end;
        z-index: 1;

        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        margin: 0 0 5px;

        @media screen and (max-width: 767px){
            grid-row: 4/10;
            grid-column: 3/11;  
            justify-self: center;
            align-self: center; 
        }
        h1 {
            @include montserratRegular;
            @include headerFontSizes;

            margin: 0;
            letter-spacing: 5px;
            color: $Blackish;

            font-size: 36px;
            text-align: center;
            margin: 0 auto;
            padding: 0;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                bottom: -10px;
                width: 0px;
                height: 5px;
                margin: 5px 0 0;
                animation: underline 1s ease forwards;
                animation-delay: 1s;
                background-color: $Glamour;
            }

            @media screen and (max-width: 767px){
                color: $Whiteish
            }
        }
    }
    .image1Project {
        grid-row: 3/9;
        grid-column: 3/7;
        z-index: 1;

        animation: fadeIn 1s ease;
        img {
            width: 100%;
            height: auto;
            @media screen and (max-width: 767px){
                display: none;
            }
        }
    }
    .image2Project{
        grid-row: 6/10;
        grid-column: 8/10;
        z-index: 1;
  
        img {
            width: auto;
            height: 100%;
            max-width: 30vw;
            object-fit: scale-down;
            @media screen and (max-width: 767px){
                display: none;
            }
        }
    }
    .projectHeader-BG{
        background-color: $Pink;
        grid-column: 4/11;
        grid-row: 4/10;
        z-index: 0;
        @media screen and (max-width: 767px){
            grid-column: 3/11; 
        }
    }
    .project-svg-1{
        grid-column: 1/5;
        grid-row: 9/13;

        align-self: flex-end;
        svg{
            fill: none;

            animation: dash 1s linear forwards;

            stroke-dasharray: 1500;
            stroke-dashoffset: 1500;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
    .project-svg-2 {
        grid-column: 1/4;
        grid-row: 5/13;

        align-self: flex-end;
        svg{
            fill: none;

            animation: dash 1s linear forwards;

            stroke-dasharray: 1500;
            stroke-dashoffset: 1500;
        }
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}