
//Color Palette
$Grayish: #D5CDCA;
$Glamour: #B5A19A;
$Mauve: #AEAAAB;
$Taupe: #8C7F79;
$Pink: #D6C3BF;
$Pale: #E1D9D7;
$Whiteish: #F4F3F3;
$Blackish: #3B3E3F;


@mixin montserratRegular {
    font-family: montserrat, sans-serif;
    font-weight: 400;
    color: $Whiteish;
    text-decoration: none;
}

@mixin charterLight {
    font-family: Charter, serif;
    font-weight: 100;
    color: $Whiteish;
    text-decoration: none;
}

@mixin headerFontSizes {
    @media screen and (max-width: 767px){
        font-size: 24px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size: 30px;
    }
    @media screen and (min-width: 1024px){
        font-size: 36px;
    }
}

@mixin SubHeaderFontSizes {
    @media screen and (max-width: 767px){
        font-size: 22px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size: 26px;
    }
    @media screen and (min-width: 1024px){
        font-size: 30px;
    }
}

@mixin TitleFontSizes {
    @media screen and (max-width: 767px){
        font-size: 16px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size: 20px;
    }
    @media screen and (min-width: 1024px){
        font-size: 24px;
    }
}

@mixin SubTitleFontSizes {
    @media screen and (max-width: 767px){
        font-size: 14px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size: 16px;
    }
    @media screen and (min-width: 1024px){
        font-size: 18px;
    }
}

@mixin NormalFontSizes {
    @media screen and (max-width: 767px){
        font-size: 12px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size: 14px;
    }
    @media screen and (min-width: 1024px){
        font-size: 16px;
    }
}

@mixin SmallFontSizes {
    @media screen and (max-width: 767px){
        font-size: 10px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        font-size: 12px;
    }
    @media screen and (min-width: 1024px){
        font-size: 14px;
    }
}

@mixin responsiveHeights90 {
    @media screen and (max-width: 767px){
        height: 60vh;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        height: 60vh;
    }
    @media screen and (min-width: 1024px){
        height: 90vh;
    }
}

@mixin responsiveHeights60 {
    @media screen and (max-width: 767px){
        height: 30vh;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        height: 30vh;
    }
    @media screen and (min-width: 1024px){
        height: 60vh;
    }
}

@mixin responsiveHeights70 {
    @media screen and (max-width: 767px){
        height: 30vh;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        height: 40vh;
    }
    @media screen and (min-width: 1024px){
        height: 70vh;
    }
}

@mixin AltHeaderHeight {
    @media screen and (max-width: 767px){
        height: 40vh;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        height: 40vh;
    }
    @media screen and (min-width: 1024px){
        height: 90vh;
    }
}