@import "../../Variables.scss";

.aboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 90vh;
    background-color: $Whiteish;

    .aboutMeImage {
        justify-self: center;
        align-self: center;
        grid-row: 2/8;

        img {
            max-height: 70vh;
            width: auto;
        }
    }

    .bio {
        background-color: $Glamour;
        color: $Whiteish;
        align-self: center;
        justify-self: center;
        text-align: left;
        width: 450px;
        padding: 30px;
        padding-top: 40px;
        padding-bottom: 50px;
        margin-right: 20px;
        padding-left: 35px;
        grid-row: 2/7;


        h2 {
            @include montserratRegular;
            letter-spacing: 10px;
            margin-top: 0;
        }

        p {
            @include charterLight;
            letter-spacing: 2px;
            line-height: 30px;
        }
    }
}

