@import "../../Variables.scss";

.aboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 90vh;
    max-width: 100%;
    background-color: $Whiteish;

    .aboutMeImage {
        justify-self: center;
        align-self: center;
        grid-row: 2/8;

        //this works, issue is with img
        //width: 30%;

        img {
            max-width: 40vw;
            height: auto;
            //width: 30%;
            object-fit: scale-down;
        }
    }

    .bio {
        background-color: $Glamour;
        color: $Whiteish;
        align-self: center;
        justify-self: center;
        text-align: left;
        //width: 450px;
        padding: 30px;
        padding-top: 40px;
        padding-bottom: 50px;
        margin-right: 20px;
        padding-left: 35px;
        grid-row: 2/7;


        h2 {
            @include montserratRegular;
            @include TitleFontSizes;
            
            letter-spacing: 10px;
            margin-top: 0;
        }

        p {
            @include charterLight;
            @include NormalFontSizes;

            letter-spacing: 2px;
            line-height: 30px;
        }
    }
}

